.container {

  margin-top: 50px;
  margin-left: 75px;
  width: 100%;
  
}

.sign-in-container {

  display: flex;
  flex-direction: column;
  background: white;
  padding-bottom: 30px;
  margin-top: 60px;

}

.sign-in-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;

}

.text {

  color: #3c009d;
  font-size: 48px;
  font-weight: 700;

}

.underline {

  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;

}

.inputs {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 55px;

}

.input {

  display: flex;
  align-items: center;
  width: 480px;
  height: 70px;
  background: #eaeaea;
  border-radius: 6px;
  padding-left: 30px;

}

.input input {

  height: 50px;
  width: 400px;
  background:  transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
  margin-left: 30px;

}

.forgot {

  font-family: Arial, Helvetica, sans-serif;
  padding-left: 500px;
  margin-top: 30px;
  cursor: pointer;
  color: #4c00b4;

}

.submit-choices {

  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px auto;

}

.submit {

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 50px;
  width: 200px;
  border-radius: 40px;
  cursor: pointer;

  color: white;
  background: #4c00b4;

}

.diff-settings {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 150px;
  padding-top: 100px;

}

.line {

  display: flex;
  align-items: center;
  height: 50px;
  width: 400px;
  margin-bottom: 10px;
  border-bottom-style: dashed;
  border-color: lightgray;

}

.settings-text {

  font-family: Arial, Helvetica, sans-serif;
  flex: 1;

}

.switch {

  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.add-profile {

  margin-right: 10px;
  width: 55px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.about {

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 100px;
  
}

.about-text {
  margin-bottom: 8px;
}

.cart-page {

  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  
}

.clear-cart {

  height: 50px;
  width: 80px;
  background-color: lightcoral;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.15s;

}

.clear-cart:hover {
  opacity: 0.9;
}

.clear-cart:active {
  opacity: 0.7;
}

.delete-item {

  height: 50px;
  width: 80px;
  background-color: lightcoral;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  margin-left: 35px;

}

.delete-item:hover {
  opacity: 0.9;
}

.delete-item:active {
  opacity: 0.7;
}

.buy-item {

  height: 50px;
  width: 80px;
  background-color: lightblue;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  margin-left: 35px;

}

.buy-item:hover {
  opacity: 0.9;
}

.buy-item:active {
  opacity: 0.7;
}

.cart-items {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  
}

.pay-page {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 65px;
  font-family: Arial, Helvetica, sans-serif;
}

.payment-document {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: solid;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 110%;
  gap: 3px;
}

.document-title {
  margin-bottom: 30px;
}

.small-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: solid;
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.pay-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.pay-choice:hover {
  opacity: 0.85;
}

.pay-choice:active {
  opacity: 0.75;
}

.body-background {
  margin: 0;
  height: 100vh;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.congrats-page {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 40px;
  font-size: clamp(1rem, 2vw, 150%);
  gap: 70px;
}

.go-home {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




